.view-details-page {
  background: linear-gradient(to right, #eef2f3, #ffffff);
}

.movie-card {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.movie-img {
  width:70%;
  height: 370px;
  border-radius:10px;
  margin-left:15%;
  margin-top:8%;
}

.movie-content {
  padding: 30px;
}

.movie-title {
  font-weight: 700;
  color: #0d6efd;
  text-align: center;
}

.movie-content p {
  font-size: 16px;
  color: #444;
}

.movie-content span {
  font-weight: 600;
  color: #000;
}

.description {
  line-height: 1.7;
}

.loading-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
